name: Quality

on:
  push:
    branches:
      - main
      - "release-*"

  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

# Cancel in-progress runs for pull requests when developers push
# additional changes, and serialize builds in branches.
# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-concurrency-to-cancel-any-in-progress-job-or-run
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache Node Modules
        uses: actions/cache@v2
        with:
          path: "/node_modules"
          key: node-${{ hashFiles('yarn.lock') }}

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install Node Modules
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Formatting
        if: always()
        run: yarn format:check

      - name: Find old files
        uses: w3f/action-find-old-files@1.0.1
        id: old_files
        with:
          minAge: 60
          dirs: '["."]'

      - name: Save file
        uses: actions/upload-artifact@v2
        with:
          name: old-docs
          path: ${{ steps.old_files.outputs.files }}
