name: Deploy
on:
  push:
    branches:
      - '*'
      - '!master'
jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Mono
        uses: actions/checkout@v2
        with:
          repository: cdr/c
          ref: refs/heads/codercom-docs
          ssh-key: ${{ secrets.MONOREPO_DEPLOY_KEY }}
          submodules: true
          fetch-depth: 0
      - name: Checkout Docs
        run: git fetch && git checkout ${GITHUB_SHA}
        working-directory: ./docs
      - name: Setup Node
        uses: actions/setup-node@v1
      - name: Deploy
        run: |
          # Creates the GitHub deployment.
          DEPLOYMENT_ID=$(curl \
            -X POST \
            -H "Accept: application/vnd.github.ant-man-preview+json" \
            -H "Content-Type: application/json" \
            --user "x-access-token:$GITHUB_TOKEN" \
            --data '{
              "ref": "'$GITHUB_REF'",
              "description": "coder.com",
              "transient_environment": true
            }' \
            https://api.github.com/repos/$GITHUB_REPOSITORY/deployments | jq '.id')

          # Starts the vercel deployment.
          ./ci/steps/vercel_deploy.sh > url.txt &

          # Waits for Vercel build URL.
          tail -f url.txt | sed '/vercel/ q'

          while ! [ -s url.txt ]; do
            # File is empty... keep checking it!
            sleep 1
          done

          ENVIRONMENT_URL=$(cat url.txt)

          # Updates the deployment status to be pending with the build URL above.
          curl \
            -X POST \
            -H "Accept: application/vnd.github.ant-man-preview+json" \
            -H "Content-Type: application/json" \
            --user "x-access-token:$GITHUB_TOKEN" \
            --data '{
              "state": "in_progress",
              "environment_url": "'$ENVIRONMENT_URL'"
            }' \
            https://api.github.com/repos/$GITHUB_REPOSITORY/deployments/$DEPLOYMENT_ID/statuses

          wait

          curl \
            -X POST \
            -H "Accept: application/vnd.github.ant-man-preview+json" \
            -H "Content-Type: application/json" \
            --user "x-access-token:$GITHUB_TOKEN" \
            --data '{
              "state": "success"
            }' \
            https://api.github.com/repos/$GITHUB_REPOSITORY/deployments/$DEPLOYMENT_ID/statuses
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_REF: ${{ github.ref }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: team_tGkWfhEGGelkkqUUm9nXq17r
          VERCEL_PROJECT_ID: QmZRucMRh3GFk1817ZgXjRVuw5fhTspHPHKct3JNQDEPGd