name: Deploy
on: push
jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: cdr/c
          ref: refs/heads/codercom-docs
          ssh-key: ${{ secrets.MONOREPO_DEPLOY_KEY }}
          submodules: true
      - run: cd docs/ && git fetch ${GITHUB_SHA} && git checkout ${GITHUB_SHA}