name: Deploy (Preview)
on:
  push:
    branches:
      - "**"
      - "!master"
  pull_request:
    branches:
      - "**"
jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    # Prevent duplicate run from happening when a forked push is committed
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout Mono
        uses: actions/checkout@v2
        with:
          repository: cdr/m
          ref: refs/heads/master
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          submodules: true
          fetch-depth: 0
      - name: Checkout Docs - Push
        if: ${{ github.event_name == 'push'}}
        run: git fetch && git checkout ${GITHUB_SHA}
        working-directory: ./product/coder.com/site/docs
      - name: Checkout Docs - PR
        if: ${{ github.event_name == 'pull_request'}}
        run: git fetch && git checkout ${GITHUB_HEAD_REF}
        working-directory: ./product/coder.com/site/docs
      - name: Setup Node
        uses: actions/setup-node@v1
      - name: Deploy
        run: ./product/coder.com/site/docs/.github/ci/deploy.sh
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_REF: ${{ github.ref }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: team_tGkWfhEGGelkkqUUm9nXq17r
          VERCEL_PROJECT_ID: QmZRucMRh3GFk1817ZgXjRVuw5fhTspHPHKct3JNQDEPGd
